<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502913564370-n8qrsl3cvge41ukia7so5p3d5imgao3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502913564370-n8qrsl3cvge41ukia7so5p3d5imgao3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBw_VR76kKtNimWoqm_mon97rDL7HJN1FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>502913564370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutterFujitsu</string>
	<key>PROJECT_ID</key>
	<string>flutteracademy-fujitsu</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteracademy-fujitsu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502913564370:ios:eabf3cbca1bc67726a370b</string>
</dict>
</plist>